<app-header></app-header>
<div class="modal-content ml-5" [formGroup]="formData" style="width: 75%;">
    <div class="">
        <div class="modal-body">
            <h5>Customer Details</h5>
            <div class="form-group">
                <label for="exampleInputEmail1">First name</label>
                <input type="text" class="form-control" aria-describedby="emailHelp1"
                    formControlName="cusFName" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Last name</label>
                <input type="text" class="form-control" aria-describedby="emailHelp1"
                    formControlName="cusLname" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="text" class="form-control" aria-describedby="emailHelp1"
                    formControlName="cusEmail" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Contact number</label>
                <input type="text" class="form-control" aria-describedby="emailHelp1"
                    formControlName="cusContact" />
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="cusOwner" id="gridRadios1"
                        value="true" checked>
                    <label class="form-check-label" for="gridRadios1">
                        Owner
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="cusOwner" id="gridRadios2"
                        value="false">
                    <label class="form-check-label" for="gridRadios2">
                        Broker
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="modal-body">
            <h5>Proparty Details</h5>
            <div class="form-group">
                <label for="exampleInputEmail2">Proparty name</label>
                <input type="text" class="form-control" aria-describedby="emailHelp2"
                    formControlName="proFName" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Proparty type</label>
                <select id="inputState" class="form-control" formControlName="proType">
                    <option selected>First</option>
                    <option>Second</option>
                    <option>Third</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">No. of rooms</label>
                <input type="text" class="form-control" aria-describedby="emailHelp2"
                    formControlName="proRooms" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">No. of Kitchens</label>
                <input type="text" class="form-control" aria-describedby="emailHelp2"
                    formControlName="proKitchens" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">No. of living rooms</label>
                <input type="text" class="form-control" aria-describedby="emailHelp2"
                    formControlName="proLivRoom" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">No. of bathrooms</label>
                <input type="text" class="form-control" aria-describedby="emailHelp2"
                    formControlName="proBathroom" />
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="proGarden" id="gridRadios1"
                        value="true" checked>
                    <label class="form-check-label" for="gridRadios1">
                        Yes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="proGarden" id="gridRadios2"
                        value="false">
                    <label class="form-check-label" for="gridRadios2">
                        No
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="modal-body">
            <h5>Address Details</h5>
            <div class="form-group">
                <label for="exampleInputEmail3">Address1</label>
                <input type="text" class="form-control" aria-describedby="emailHelp3"
                    formControlName="address1" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail3">Address2</label>
                <input type="text" class="form-control" aria-describedby="emailHelp3"
                    formControlName="address2" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail3">Landmark</label>
                <input type="text" class="form-control" aria-describedby="emailHelp3"
                    formControlName="landmark" />
            </div>

            <div class="form-group">
                <label for="exampleInputEmail3">City</label>
                <input type="text" class="form-control" aria-describedby="emailHelp3" formControlName="city" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail3">State</label>
                <input type="text" class="form-control" aria-describedby="emailHelp3" formControlName="state" />
                <!-- <small id="emailHelp3" class="form-text text-muted">Any error message...</small> -->
            </div>
            <div class="form-group">
                <label for="exampleInputEmail3">Country</label>
                <input type="text" class="form-control" aria-describedby="emailHelp3"
                    formControlName="country" />
                <!-- <small id="emailHelp3" class="form-text text-muted">Any error message...</small> -->
            </div>
            <div class="form-group">
                <label for="exampleInputEmail3">Pincode</label>
                <input type="text" class="form-control" aria-describedby="emailHelp3"
                    formControlName="pincode" />
                <!-- <small id="emailHelp3" class="form-text text-muted">Any error message...</small> -->
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary"
                data-dismiss="modal" (click)="editUserData()">Save</button>
        </div>
    </div>
</div>