<app-header></app-header>
<div class="jumbotron jumbotron-fluid" style="align-items: center;">
    <div class="container table-responsive">
        <div class="card mt-3 ml-5" style="width: 70%; height: 100%;">
            <h2 class="card-header d-flex justify-content-between flex-wrap">Profile Details:</h2>
            <div class="ml-5 card-body">
                <h4><b>Name:</b> {{userDetails[0].cusDetails[0].fname}} {{userDetails[0].cusDetails[0].lname}}</h4>
                <h5><b>Email:</b> {{userDetails[0].cusDetails[0].email}}</h5>
                <b> Contact: {{userDetails[0].cusDetails[0].contact}}</b>
                <div class="mt-3 mb-2">
                    <button type="button" class="btn btn-primary mr-1" id="buttonModal" data-toggle="modal"
                        data-target="#propModal">Proparty</button>
                    <button type="button" class="btn btn-primary ml-1" id="buttonModal" data-toggle="modal"
                        data-target="#addrModal">Address</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Add Modal -->
    <div class="modal fade" id="propModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-l">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Property</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="ml-5 mt-1 mb-1">
                    <h5><b>Property Name:</b> {{userDetails[0].proDetails[0].proName}}</h5>
                    <h5><b>Property Type:</b> {{userDetails[0].proDetails[0].proType}}</h5>
                    <h5><b>No. of Room:</b> {{userDetails[0].proDetails[0].proRooms}}</h5>
                    <h5><b>No. of Kitchen:</b> {{userDetails[0].proDetails[0].proKichens}}</h5>
                    <h5><b>No. of Living Room:</b> {{userDetails[0].proDetails[0].proLivRoom}}</h5>
                    <h5><b>No. of Bathroom:</b> {{userDetails[0].proDetails[0].proBathroom}}</h5>
                    <h5><b>Garden:</b> {{userDetails[0].proDetails[0].proGarden}}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addrModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-l">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Address</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="ml-5 mt-1 mb-1">
                    <h5><b>Address1:</b> {{userDetails[0].addrDetails[0].address1}}</h5>
                    <h5><b>Address2:</b> {{userDetails[0].addrDetails[0].address2}}</h5>
                    <h5><b>City:</b> {{userDetails[0].addrDetails[0].city}}</h5>
                    <h5><b>State:</b> {{userDetails[0].addrDetails[0].state}}</h5>
                    <h5><b>Country:</b> {{userDetails[0].addrDetails[0].country}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>