<app-header></app-header>
<div class="jumbotron jumbotron-fluid">
    <div class="container table-responsive">
        <div style="text-align: right;">
            <button type="button" class="btn btn-primary btn-sm" id="buttonModal" data-toggle="modal"
                data-target="#exampleModal">Add record</button>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">S.No.</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Proparty name</th>
                    <th scope="col">proparty type</th>
                    <th scope="col">City</th>
                    <th scope="col">View</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of userDataArray; index as i;">
                    <td>{{i+1}}</td>
                    <td>{{ item.cusDetails[0].fname }}</td>
                    <td>{{ item.cusDetails[0].lname }}</td>
                    <td>{{ item.cusDetails[0].email }}</td>
                    <td>{{ item.proDetails[0].proName }}</td>
                    <td>{{ item.proDetails[0].proType }}</td>
                    <td>{{ item.addrDetails[0].city }}</td>
                    <td>
                        <button type="button" class="btn btn btn-primary btn-sm"
                            (click)="viewDetails(item.id)">View</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info btn-sm" (click)="updateDetails(item.id)">Edit</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm"
                            (click)="deleteRecord(item.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" [formGroup]="formData">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Step {{formStep}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="formStep == 1">
                <div class="modal-body">
                    <h5>Customer Details</h5>
                    <div class="form-group">
                        <label for="exampleInputEmail1">First name</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp1"
                            formControlName="cusFName" />
                        <!-- <small id="emailHelp1" class="form-text text-muted">Any error message...</small> -->
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Last name</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp1"
                            formControlName="cusLname" />
                        <!-- <small id="emailHelp1" class="form-text text-muted">Any error message...</small> -->
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp1"
                            formControlName="cusEmail" />
                        <!-- <small id="emailHelp1" class="form-text text-muted">Any error message...</small> -->
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Contact number</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp1"
                            formControlName="cusContact" />
                        <!-- <small id="emailHelp1" class="form-text text-muted">Any error message...</small> -->
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="cusOwner" id="gridRadios1"
                                value="true" checked>
                            <label class="form-check-label" for="gridRadios1">
                                Owner
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="cusOwner" id="gridRadios2"
                                value="false">
                            <label class="form-check-label" for="gridRadios2">
                                Broker
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="nextStep()">Next</button>
                </div>
            </div>
            <div *ngIf="formStep == 2">
                <div class="modal-body">
                    <h5>Proparty Details</h5>
                    <div class="form-group">
                        <label for="exampleInputEmail2">Proparty name</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp2"
                            formControlName="proFName" />
                        <small id="emailHelp2" class="form-text text-muted">Any error message...</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">Proparty type</label>
                        <select id="inputState" class="form-control" formControlName="proType">
                            <option selected>First</option>
                            <option>Second</option>
                            <option>Third</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">No. of rooms</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp2"
                            formControlName="proRooms" />
                        <small id="emailHelp2" class="form-text text-muted">Any error message...</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">No. of kichens</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp2"
                            formControlName="proKichens" />
                        <small id="emailHelp2" class="form-text text-muted">Any error message...</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">No. of living rooms</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp2"
                            formControlName="proLivRoom" />
                        <small id="emailHelp2" class="form-text text-muted">Any error message...</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">No. of bathrooms</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp2"
                            formControlName="proBathroom" />
                        <small id="emailHelp2" class="form-text text-muted">Any error message...</small>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="proGarden" id="gridRadios1"
                                value="true" checked>
                            <label class="form-check-label" for="gridRadios1">
                                Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="proGarden" id="gridRadios2"
                                value="false">
                            <label class="form-check-label" for="gridRadios2">
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="backStep()">Back</button>
                    <button type="button" class="btn btn-primary" (click)="nextStep()">Next</button>
                </div>
            </div>
            <div *ngIf="formStep == 3">
                <div class="modal-body">
                    <h5>Address Details</h5>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Address1</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp3"
                            formControlName="address1" />
                        <small id="emailHelp3" class="form-text text-muted">Any error message...</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Address2</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp3"
                            formControlName="address2" />
                        <small id="emailHelp3" class="form-text text-muted">Any error message...</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">City</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp3" formControlName="city" />
                        <small id="emailHelp3" class="form-text text-muted">Any error message...</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">State</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp3" formControlName="state" />
                        <small id="emailHelp3" class="form-text text-muted">Any error message...</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Country</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp3"
                            formControlName="country" />
                        <small id="emailHelp3" class="form-text text-muted">Any error message...</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="backStep()">Back</button>
                    <button type="button" class="btn btn-primary" (click)="submitForm()"
                        data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>